hotkey-overlay {
    skip-at-startup
}

environment {
    DMS_RUN_GREETER "1"
}

gestures {
    hot-corners {
        off
    }
}

layout {
    background-color "#000000"
}

output "PNP(WAM) YM32CQA-100Hz 0x00000001" {
    mode "2560x1440@100.001"
    scale 1
    transform "normal"
    position x=1080 y=240
}

output "PNP(PLN) PLL2410W 0x01010101" {
    mode "1920x1080@60"
    scale 1
    transform "90"
    position x=0 y=0

    layout {
        default-column-width {
            proportion 1.0
        }
    }
}

input {
    keyboard {
        numlock
    }
    mouse {
        accel-speed 0.4
        accel-profile "flat"
    }
}
