RESTIC_REPOSITORY="sftp:restic-backup@100.82.174.23:/mnt/main-storage/backups/pc-backup-vps"
RESTIC_PASSWORD_FILE="$HOME/.config/restic-password"
RESTIC_HOST_TAG="vps"
RESTIC_SFTP_ARGS="-i /home/ubuntu/.ssh/restic_nas -o IdentitiesOnly=yes -p 1738"
